<div class="container">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<p>
  photo-grid works!
</p>
 <a routerLink="/photo-grid">Photo Grid</a>
<a routerLink="/photo-upload">Photo Upload</a> 
<br><br>
<div class="row" >

	<div class="imageCard" *ngFor = "let id of images |   paginate: { itemsPerPage: 8, currentPage: p }; let i=index">
		<div class="imageCard"  (click)="open(i)"  placement="top" ngbTooltip="{{id['created-at']}} ">
			<img src="{{id.thumbnailUrl}}" class="imageCard">
	</div>

		<ng-template #i let-c="close" let-d="dismiss">

  <div class="modal-body">
  	<div class="imageCard largeImage" >
			<img src="{{id.imageUrl}}" class="imageCard--content" >
			<input type="text" value="{{myModel}}" style="display: none;">
			<p>
				<input type="text" name="" [(ngModel)]="myModel" >
				<button class="btn btn-primary"   (click)="clearModel()">Comment</button>

</p>

	</div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
	</div>
	<br><br><br>

	<div style="display: block;">
	      <pagination-controls (pageChange)="p = $event" style= "display: block"></pagination-controls>
			
	</div>
</div>
</div>